<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/mobile/Static/css/Mdefault.css"/>
    <link rel="stylesheet" type="text/css" href="/mobile/Static/css/Mindex.css"/>
    <link rel="stylesheet" type="text/css" href="/mobile/Static/css/ready.css"/>
	<link rel="stylesheet" type="text/css" href="/mobile/Static/css/player.css"/>
    <link href="/mobile/Static/css/mui.min.css" rel="stylesheet"/>
    <style>
		.choose{
			background: #e0d8d8!important;
		}
	</style>
</head>
<body>

	<div class="page page-ready" id="app">
		<template v-if="goStart==false && play==false">
		<div class="header-ready"></div>
		<div class="team_name">
			<div class="team_center">
				<div class="team_icon">
					<img v-bind:src="player.avatar"/>
				</div>
				<p>{{player.name}}</p>
			</div>
		</div>
		<div class="ready_state">
			<div class="ready_text">
				<p class="star" v-if="isReady==false">游戏即将开始</br>请准备</p>
				<p class="" v-if="isReady==true">已准备</br>正在等待主持人开始</p>
			</div>
			<div class="go_but" v-if="isReady==false">
				<img src="/mobile/Static/images/登录按钮@2x.png"/>
				<span class="but_text" v-on:click="ready">准备开始</span>
			</div>
			<div class="go_but" v-if="isReady==true">
				<img src="/mobile/Static/an.png"/>
				<span class="but_text">已准备</span>
			</div>
		</div>
		</template>
		<template v-if="goStart && play==false">
			{{countDownTime()}}
			<div class="header-time"></div>
			<div class="time_content">
				<div class="bg_l"></div>
				<div class="bg_m">
					<img v-bind:src="timeImgSrc"/>
				</div>
				<div class="bg_r"></div>
			</div>
		</template>
		<template v-if="play==true">
			<div class="page">
			<div class="header"></div>
			<div class="player">
				<div class="player_l_all" data-id="{$one_user['id']}">
					<div class="player_l" style="background: url(/mobile/Static/椭圆-7@2x.png) no-repeat;background-size:100% 100%;">
						<div class="player_l_icon">
							<img v-bind:src="person.avatar"/>
						</div>
					</div>
					<span class="player_name">{{person.name}}</span>
				</div>
				<div class="m_time">
					<span id="num_t">{{answerTime}}</span>s
				</div>
				<div class="player_r_all"  data-id="1">
					<div class="player_r">
						<div class="player_r_icon">
							<img v-bind:src="player.avatar"/>
						</div>
					</div>
					<span class="player_name1">{{player.name}}</span>
				</div>
			</div>
			<div class="qustion_m">
				<p class="title">{{currentQuestion.title}}</p>
				<div class="qustion_m_center">
					<div class="play_l_point">
						<p class="m_point_l">{{hisScore}}</p>
						<div id="pint_l" class="mui-progressbar">
							<span></span>
						</div>
					</div>
					<div class="play_m_qustion">
						<ul class="m_answer">
							<li class="m_answeritem" v-bind:class="{choose:myAnswer==1,m_yes:correctAnswer==1}" item="1" v-on:click="doAnswer">{{currentQuestion.a_1}}
								<template v-if="wrongHere(1)">
									<span id="no_l">x</span>
									<span id="no_r">x</span>
								</template>
							</li>
							<li class="m_answeritem" v-bind:class="{choose:myAnswer==2,m_yes:correctAnswer==2}" item="2" v-on:click="doAnswer">{{currentQuestion.a_2}}</li>
							<li class="m_answeritem" v-bind:class="{choose:myAnswer==3,m_yes:correctAnswer==3}" item="3" v-on:click="doAnswer">{{currentQuestion.a_3}}</li>
							<li class="m_answeritem" v-bind:class="{choose:myAnswer==4,m_yes:correctAnswer==4}" item="4" v-on:click="doAnswer">{{currentQuestion.a_4}}</li>
							<template v-if="0">
								<span class="yes_l"></span>
								<span class="yes_r"></span>
							</template>
						</ul>
					</div>
					<div class="play_r_point">
						<p class="m_point_r">{{myScore}}</p>
						<div id="pint_r" class="mui-progressbar">
							<span></span>
						</div>
					</div>
				</div>
			</div>
			</div>
		</template>
	</div>
	<audio src="/mobile/Static/music/cuowu.mp3"  id="music_wrong"></audio>
	<audio src="/mobile/Static/music/zhengque.mp3"  id="music_right"></audio>
	<audio src="/mobile/Static/music/daojishi.mp3"  id="music_time"></audio>
</body>
<script src="/mobile/Static/js/mui.min.js"></script>
<script src="/mobile/Static/js/font-size.js" type="text/javascript" charset="utf-8"></script>
<script src="/mobile/Static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/mobile/Static/js/Mindex.js" type="text/javascript" charset="utf-8"></script>
<script src="/src/layer/layer.js"></script>
<script src="/src/js/vue.js"></script>
<script src="/src/js/fun.js"></script>
<script type="text/javascript" charset="utf-8">
      	mui.init();
  </script>
<script>
	var app = new Vue({
		el:"#app",
		data:{
		    ws:'',
			timer:'',
		    player:{},//本人
			isReady:false,
			goStart:false,
			lock:false,
			play:false,
			timeImgSrc:'/mobile/Static/images/3@2x.png',
			wrongMusic:'',
			rightMusic:'',
			timeMusic:'',
			person:{},//对手
			game:{},
			currentQuestion:{},
			myScore:0,
			hisScore:0,
			myAnswer:0,
			serverState:0,
			answerTime:10,
			aAnswer:{},
			bAnswer:{},
			correctAnswer:0
		},
		methods:{
		    getPlayer:function () {
				var that = this;
				$.get('/Home/Common/Api/getPlayer',function (res) {
					if(res.code==0){
					    that.player=res.data;
					}else{
					    location.href = '/Home/Mobile/Login/index'
					}
                },'json');
            },
			wrongHere:function (item) {

            },
			ready:function () {
				var that = this;
				$.post("/Home/Common/Api/ready",function (res) {},'json');
				that.isReady = true;
            },
			countDownTime:function () {
		        if(this.lock){
		            return;
				}
				this.lock=true;
                var _time=3,index,that = this;
                index=setInterval(function(){
                    _time--;
                    if(_time==2){
                        that.timeImgSrc = '/mobile/Static/images/2@2x.png'
                    }else if(_time==1){
                        that.timeImgSrc = '/mobile/Static/images/1@2x.png'
                    }else if(_time==0){
                        that.timeImgSrc = '/mobile/Static/images/GO@2x.png'
                    }else{
                        clearInterval(index);
                        that.play=true;
                        that.goStart=false;
//                        location.href = "/Home/Mobile/Index/play"
                    }
                    console.log(_time);
                },1000)
            },
            countAnswerTime:function () {
                var that = this;
                var aIndex = setInterval(function () {
                    if(that.answerTime>0){
                        that.answerTime--
                    }else{
                        clearInterval(aIndex);
                    }
                },1000)
            },
            doAnswer:function (e) {
		        if(this.myAnswer>0 || this.answerTime<=0){
		            return;
				}
                var sec = 10-this.answerTime;
                if(!sec){
                    sec = 0;
                }
                var data = {
                    game_id:this.game.game_id,
                    question_id:this.currentQuestion.id,
                    answer:e.currentTarget.getAttribute('item'),
                    time_sec:sec
                };
                this.myAnswer = data.answer;
                $.ajax({
                    type:'post',
                    url:'/Home/Common/Api/doAnswer',
                    data:data,
                    dataType:'json',
                    success:function (res) {
                        if(res.code==0){

                        }else{
                            layermsg(res.message)
                        }
                    }
                });
            },
			getGame:function () {
				var that = this;
				$.ajax({
					type:'get'

				});
            },
			getAnotherPerson:function () {
				var that=this;
				$.ajax({
					type:'get',
					url:'/Home/Common/Api/getAnotherPerson',
					async:false,
					data:{game_id:this.game.game_id},
					dataType:'json',
					success:function (res) {
						if(res.code==0){
						    that.person=res.data;
						}else{
						    layermsg(res.message);
						}
                    }
				})
            },
            refreshProgress:function () {
                var aScore = this.hisScore,bScore=this.myScore;
                var progressA = parseInt((aScore/1000)*100);
                var progressB = parseInt((bScore/1000)*100);
                console.log(progressA);
                mui("#pint_l").progressbar({progress:progressA}).show();
                mui("#pint_r").progressbar({progress:progressB}).show();
            },
            iniConnect:function(){
		        var that = this;
                this.ws = new WebSocket("ws://{$_SERVER['SERVER_NAME']}:8282");
                this.ws.onmessage = function(e){
                    // json数据转换成js对象
                    var terminal='player';
                    var data = eval("("+e.data+")");
                    var type = data.type || '';
                    var _data = data.data || [];
                    switch(type){
                        case 'init':
                            $.post('/Home/Common/Api/bindClient', {client_id: data.client_id,terminal:terminal}, function(resp){
                                that.serverState=1;
                                console.log(resp);
                            }, 'json');
                            break;
                        case 'start':
                            that.game = _data;
                            that.goStart=true;
                            that.isReady=false;
                            break;
                        case 'game':
                            that.game = _data;
                            break;
                        case 'over':
                            location.href='/Home/Mobile/Index/result?game_id='+_data.game_id;
                            break;
                        case 'question':
                            that.goStart=true;
                            that.isReady=false;
                            that.myAnswer=0;
                            that.aAnswer={};
                            that.bAnswer={};
                            that.correctAnswer=0;
                            that.currentQuestion=_data;
                            that.$nextTick(function () {
                                that.answerTime=10;
                                that.countAnswerTime();
                            });
                            break;
						case 'result':
						    that.aAnswer=_data.team_a;
						    that.bAnswer=_data.team_b;
						    that.correctAnswer=_data.correct;
                        default :

                    }
                };
                this.ws.onopen=function(){
                    that.serverState=1;
                    window.clearInterval(that.timer);
                };
                this.ws.onerror =function(){
                    console.log('error');
                    layermsg('连接服务器出错');
                    that.serverState=0;
                    window.clearInterval(that.timer);
                    that.timer = setInterval(function(){
                        that.iniConnect();
                    },5000);
                };
                this.ws.onclose=function(){
                    console.log('close');
                    layermsg('服务器断开');
                    that.serverState=0;
                    window.clearInterval(that.timer);
                    that.timer = setInterval(function(){
                        that.iniConnect();
                    },5000);
                };
            }
		},
		created:function () {
		    this.iniConnect();
			this.getPlayer();
			this.wrongMusic = document.getElementById('music_wrong');
			this.timeMusic = document.getElementById('music_time');
			this.rightMusic = document.getElementById('music_right');

        },
		watch:{
		    play:function () {
				if(this.play==true){
				    this.getAnotherPerson();

				    this.$nextTick(function () {
                        var h= document.documentElement.clientHeight || document.body.clientHeight;
                        $(".page").height(h);
                        $(".login").css("transform","translateY("+h/3+"px)");
                    })

				}
            },
            countAnswerTime:function () {
                var that = this;
                var aIndex = setInterval(function () {
                    if(that.answerTime>0){
                        that.answerTime--
                    }else{
                        clearInterval(aIndex);

                    }

                },1000)
            },
			game:function () {
		        if(!this.game){
		            return;
				}
				var my = this.myScore;
				if(this.player.team=='a'){
				    this.myScore=this.game.team_a_score;
				    this.hisScore=this.game.team_b_score;
				}else{
				    this.myScore=this.game.team_b_score;
				    this.hisScore=this.game.team_a_score;
				}
				var that = this;
				this.$nextTick(
				    function () {
                        that.refreshProgress();
                    }
				)

            }
		}
	});

</script>
</html>