*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family:"hy";
	src: url(../fonts/HYYaKuHeiW.ttf);
}
#content{
	width: 100%;
	min-width: 1902px;
	background: url(../img/背景@2x.png) no-repeat center;
	background-size:100% 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.haha{
	width:24%;
	height: 100%;
    background:url(../img/title.png) no-repeat center;
    background-size:100% 100% ;
}
.content{
	text-align: center;
	width: 520px;
	height: 700px;
}
.win_team{
	color: #ffb301;
	font-size: 60px;
	font-family: hy;
}
.win_icon{
	position: relative;
	width: 100%;
	height: 430px;
	background:url(../img/275da400c6de95b8c03a0e79e2af0fd5-拷贝@2x.png) no-repeat center;
	background-size:100% 100% ;
}
.win_icon img{
	top: 52px;
	left: 50%;
	margin-left: -125px;
	position: absolute;
	width: 243px;
	height: 247px;
	border-radius: 50%;
}
.point_all{
	font-size: 30px;
	color: #ffb301;
}
.next_begin{
	font-size: 30px;
	text-align: center;
	line-height: 80px;
	color: white;
	margin:50px auto ;
	width: 410px;
	height: 80px;
	background: url(../img/圆角矩形-12@2x.png) no-repeat center;
	background-size:100% 100% ;
}
