<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/mobile/Static/css/Mdefault.css"/>
    <link rel="stylesheet" type="text/css" href="/mobile/Static/css/Mindex.css"/>
    <link href="/mobile/Static/css/mui.min.css" rel="stylesheet"/>

</head>
<body>
<div class="page" id="app">
    <div class="header"></div>
    <div class="login">
        <form>
            <div class="input-group">
                <lable class="input-lable"><span class="mui-icon mui-icon-contact"></span></lable>
                <input type="text" name="" v-model="userId" id="name" placeholder="请输入账号" />
            </div>
            <div class="input-group">
                <lable class="input-lable"><span class="mui-icon mui-icon-locked"></span></lable>
                <input type="password" name="" v-model="password" id="password" placeholder="请输入密码" />
            </div>
            <div class="but" id="but_sub" v-on:click="login">登录游戏</div>
        </form>
    </div>
</div>
</body>
<script src="/mobile/Static/js/font-size.js"></script>
<script src="/mobile/Static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/mobile/Static/js/Mindex.js"></script>
<script src="/mobile/Static/js/mui.min.js"></script>
<script src="/src/layer/layer.js"></script>
<script src="/src/js/vue.js"></script>
<script src="/src/js/fun.js"></script>

<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            userId:'',
            password:''
        },
        methods:{
            login:function () {
                if(!this.userId || !this.password){
                    layermsg('请输入登陆账号及密码');return;
                }
                var that = this;
                $.ajax({
                    type:'post',
                    url:'/Home/Common/Api/playerLogin',
                    data:{user_id:this.userId,password:this.password},
                    dataType:'json',
                    async:false,
                    success:function (res) {
                        if(res.code==0){
                            location.href='/Home/Mobile/Index/ready'
                        }else{
                            layermsg(res.message);
                        }
                    }
                });
            }
        }
    })
</script>
<script>
</script>
</html>