<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>答题对战</title>
		<link rel="stylesheet" type="text/css" href="/pc/Static/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/pc/Static/css/useranswer.css"/>
		<link rel="stylesheet" type="text/css" href="/pc/Static/css/mui.min.css"/>
		<style type="text/css">
			.choose{
				background: #e0d8d8
			}
			.correct{
				background: #f0d40f;
			}
			.time{
				opacity: 1;
			}
			.circle-l{
				height: 32px;
				width: 32px;
				display: inline-block;
				border-radius: 50%;
				position: absolute;
				top: 25px;
				left: 25px;
			}
			.bgred{
				background: red;
			}
			.circle-r{
				height: 32px;
				width: 32px;
				display: inline-block;
				border-radius: 50%;
				position: absolute;
				top: 25px;
				right: 25px;
			}
			.bgok{
				background: #0adf3b;
			}
		</style>
	</head>
	<body>
		<div id="content" class="answer">

			<div class="haha">
				
			</div>
			<template v-if="start==true">
			<div class="uq">
				<div class="title_icon">
					<div class="u_one" >
						<div class="u_o_icon"><img v-bind:src="playerA.avatar"/></div>
						 <p class="u_o_name" >{{playerA.name}}</p>
						 <div class="l_true" v-if="aAnswer.score>0">
						 	<p>+{{aAnswer.score}}</p>
						 </div>
					</div>
					<div class="u_time">
						<span id="t_num">{{answerTime}}</span>s
					</div>
					<div class="u_two">
						<div class="u_t_icon"><img v-bind:src="playerB.avatar"/></div>
						<p class="u_o_name" >{{playerB.name}}</p>
						<div class="r_true" v-if="bAnswer.score>0">
						 	<p>+{{bAnswer.score}}</p>
						 </div>
					</div>
				</div>
				<div class="qustion">
					<div class="qu_L">
						<span id="qu_l_num">{{game.team_a_score}}</span>
						<div id="demo1" class="mui-progressbar">
							<span></span>
						</div>
					</div>
					<div class="qustionItem">
						<p id="question">{{currentQuestion.title}}</p>
						<ul class="answers">
							<li class="answeritem" item="1" v-bind:class="{correct:correctAnswer==1}"><i class="circle-l" v-bind:class="{bgred:aAnswer.answer==1&&aAnswer.result==2,bgok:aAnswer.answer==1&&aAnswer.result==1}"></i><span class="items">{{currentQuestion.a_1}}</span><i class="circle-r" v-bind:class="{bgred:bAnswer.answer==1&&bAnswer.result==2,bgok:bAnswer.answer==1&&bAnswer.result==1}"></i></li>
							<li class="answeritem" item="2" v-bind:class="{correct:correctAnswer==2}"><i class="circle-l" v-bind:class="{bgred:aAnswer.answer==2&&aAnswer.result==2,bgok:aAnswer.answer==2&&aAnswer.result==1}"></i><span class="items">{{currentQuestion.a_2}}</span><i class="circle-r" v-bind:class="{bgred:bAnswer.answer==2&&bAnswer.result==2,bgok:bAnswer.answer==2&&bAnswer.result==1}"></i></li>
							<li class="answeritem" item="3" v-bind:class="{correct:correctAnswer==3}"><i class="circle-l" v-bind:class="{bgred:aAnswer.answer==3&&aAnswer.result==2,bgok:aAnswer.answer==3&&aAnswer.result==1}"></i><span class="items">{{currentQuestion.a_3}}</span><i class="circle-r" v-bind:class="{bgred:bAnswer.answer==3&&bAnswer.result==2,bgok:bAnswer.answer==3&&bAnswer.result==1}"></i></li>
							<li class="answeritem" item="4" v-bind:class="{correct:correctAnswer==4}"><i class="circle-l" v-bind:class="{bgred:aAnswer.answer==4&&aAnswer.result==2,bgok:aAnswer.answer==4&&aAnswer.result==1}"></i><span class="items">{{currentQuestion.a_4}}</span><i class="circle-r" v-bind:class="{bgred:bAnswer.answer==4&&bAnswer.result==2,bgok:bAnswer.answer==4&&bAnswer.result==1}"></i></li>
						</ul>
					</div>
					<div class="qu_R">
						<span id="qu_r_num">{{game.team_b_score}}</span>
						<div id="demo2" class="mui-progressbar">
							<span></span>
						</div>
					</div>
				</div>
			</div>
			</template>
			<template v-if="start==false">
				<div class="time">
					<div class="time_Lbg"></div>
					<div class="time_M">
						<img v-bind:src="timeImgSrc"/>
					</div>
					<div class="time_Rbg"></div>
				</div>
			</template>

		</div>
		<audio src="/pc/Static/music/choose.mp3" id="choose"></audio>
		<audio src="/pc/Static/music/yes_no.mp3" id="yesorno"></audio>
		<audio src="/pc/Static/music/right.mp3" id="right"></audio>
		<audio src="/pc/Static/music/wrong.mp3" id="wrong"></audio>
		<audio src="/pc/Static/music/settime.mp3" id="settime"></audio>
	</body>
	<script src="/pc/Static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/pc/Static/js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="/pc/Static/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/src/layer/layer.js"></script>
	<script src="/src/js/vue.js"></script>
	<script src="/src/js/fun.js"></script>

<script>
	var app = new Vue({
		el:"#content",
		data:{
		    ws:'',
			timer:'',
		    start:false,
            lock:false,
            timeImgSrc:'/pc/Static/img/3@2x.png',
            game:{},
            questions:[],
            playerA:{},
            playerB:{},
			answerTime:10,
			currentQuestion:{},
			questionId:[],
			gameOver:false,
			aAnswer:[],
			bAnswer:[],
			correctAnswer:0,
			musicTime:'',
			musicCorrect:'',
			musicWrong:'',
			musicSelect:''
		},
		methods:{
            countStartTime:function () {
                if(this.lock){
                    return;
                }
                this.lock=true;
                var _time=3,index,that = this;
                index=setInterval(function(){
                    _time--;
                    if(_time==2){
                        that.timeImgSrc = '/pc/Static/img/2@2x.png'
                    }else if(_time==1){
                        that.timeImgSrc = '/pc/Static/img/1@2x.png'
                    }else{
                        clearInterval(index);
                        that.start=true;
                        that.getRandomQuestion();
                    }
                },1000)
            },
			countAnswerTime:function () {
                var that = this;
                that.musicTime.play();
				var aIndex = setInterval(function () {
					if(that.answerTime>0){
					    that.answerTime--
					}else{
					    clearInterval(aIndex);
					    $.ajax({
							type:'get',
							url:'/Home/Common/Api/getAnswerResult',
							data:{game_id:app.game.game_id,question_id:app.currentQuestion.id},
							dataType:'json',
							async:false,
							success:function (res) {
								if(res.code==0){
								    that.aAnswer=res.data.team_a;
								    that.bAnswer=res.data.team_b;
								}
                                setTimeout(function () {
                                    that.getRandomQuestion();
                                },3000);
                            },
							error:function () {
                                setTimeout(function () {
                                    that.getRandomQuestion();
                                },3000);
                            }
						});
					}
                },1000)
            },
            getPlayers:function () {
                var that=this;
                $.get('/Home/Common/Api/getPlayers',function (res) {
                    if(res.code==0){
                        that.playerA=res.data.player_a;
                        that.playerB=res.data.player_b;
                    }else{
                        layermsg(res.message);
                    }
                })
            },
            getQuestions:function () {
                var that = this;
                $.ajax({
                    type:'get',
                    url:'/Home/Common/Api/getAllQuestions',
                    dataType:'json',
                    success:function (res) {
                        if(res.code==0){
                            that.questions=res.data;// 题库加载完毕，开始创建游戏
                            that.getCreateGame();
                        }else{
                            layermsg('加载题库失败');
                        }
                    }
                });
            },
			getCreateGame:function () {
				var that = this;
				$.ajax({
					type:'post',
					url:"/Home/Common/Api/getCreateGame",
					dataType:'json',
					success:function (res) {
						if(res.code==0){
						    // 游戏创建成功后，会通后ws推送start消息
						    that.game=res.data;
						    $.ajax({
								type:'post',
								url:'/Home/Common/Api/startGame',
								data:{game_id:res.data.game_id},
								dataType:'json',
								success:function (res) {
									if(res.code){
									    layermsg(res.message);
									}
                                }
							});
						}else{
						    layermsg(res.message);
						}
                    }
				});
            },
			refreshProgress:function () {
                var aScore = this.game.team_a_score,bScore=this.game.team_b_score;
                var progressA = parseInt((aScore/1000)*100);
                var progressB = parseInt((bScore/1000)*100);
                mui("#demo1").progressbar({progress:progressA}).show();
                mui("#demo2").progressbar({progress:progressB}).show();
            },
			getRandomQuestion:function () {
                var question = '',that=this;
                that.aAnswer=[];
                that.bAnswer=[];
                that.correctAnswer=0;
                for(var i=0;i<this.questions.length;i++){
                    var index = Math.floor((Math.random()*this.questions.length));
                    question = this.questions[index];
					var id=question.id;
                    if(this.existId(id)){
                        continue;
					}
					this.questionId.push(id);
					break;
				}
				if(!question){
                    layermsg('没有题目, Why? What? How?');return;
				}
				$.ajax({
					type:'post',
					url:"/Home/Common/Api/startQuestion",
					data:{game_id:app.game.game_id,question_id:question.id},
					dataType:'json',
					success:function (res) {
						if(res.code==0){

						}else if(res.code==2){
						    location.href='/Home/Screen/Index/result?game_id='+app.game.game_id
						}else{
						    layermsg(res.message);
						}
                    }
				});
				return '';
            },
			existId:function (val) {
				for(var i=0;i<this.questionId;i++){
				    if(this.questionId[i]==val){
				        return true;
					}
				}
				return false;
            },
            iniConnect: function () {
                var that = this;
                this.ws = new WebSocket("ws://{$_SERVER['SERVER_NAME']}:8282");
                this.ws.onmessage = function (e) {
                    // json数据转换成js对象
                    var terminal = 'screen';
                    var data = eval("(" + e.data + ")");
                    var type = data.type || '';
                    var _data = data.data || [];
                    console.log(data);
                    switch (type) {
                        case 'init':
                            $.post('/Home/Common/Api/bindClient', {
                                client_id: data.client_id,
                                terminal: terminal
                            }, function (resp) {
                                that.serverState = 1;
                                console.log(resp);
                            }, 'json');
                            break;
                        case 'start':
                            console.log(_data);
                            that.game = _data;
                            that.countStartTime();
                            break;
                        case 'game':
                            that.game=_data;
                            break;
                        case 'over':
                            location.href='/Home/Screen/Index/result?game_id='+_data.game_id;
                            break;
						case 'result':
						    that.aAnswer=_data.team_a;
						    that.bAnswer=_data.team_b;
						    that.correctAnswer = _data.correct;
						    if(_data.team_a.result==1 || _data.team_b.result==1){
						        that.musicCorrect.play();
							}else{
						        that.musicWrong.play();
							}

						    break;
                        case 'question':
                            that.currentQuestion = _data;
                            that.$nextTick(function () {
                                that.answerTime = 10;
                                that.countAnswerTime();
                            });
                            break;
                        default :
                    }
                };
                this.ws.onopen = function () {
                    that.serverState = 1;
                    window.clearInterval(that.timer);
                };
                this.ws.onerror = function () {
                    console.log('error');
                    layermsg('连接服务器出错');
                    that.serverState = 0;
                    window.clearInterval(that.timer);
                    that.timer = setInterval(function () {
                        that.iniConnect();
                    }, 5000);
                };
                this.ws.onclose = function () {
                    console.log('close');
                    layermsg('服务器断开');
                    that.serverState = 0;
                    window.clearInterval(that.timer);
                    that.timer = setInterval(function () {
                        that.iniConnect();
                    }, 8000);
                };
            }
		},
		created:function () {
		    this.iniConnect();
		    this.getPlayers();
		    this.getQuestions();
            this.musicTime = document.getElementById('settime');
            this.musicWrong = document.getElementById('wrong');
            this.musicCorrect = document.getElementById('right');
        },
		watch:{
		    start:function () {
				if(this.start==true){
				    this.$nextTick(function () {
                        this.refreshProgress();
                    })
				}
            },
			gameOver:function () {
				if(this.gameOver==true){
				    location.href='/Home/Screen/Index/result?game_id='+this.game.game_id
				}
            },
			game:function () {
                this.refreshProgress();
            }
		}
	})
</script>
</html>
